<mat-card >
  <mat-toolbar class="text">
    {{article.name}}
  </mat-toolbar>
  <p class="abstract">{{article.abstract}}</p>
  <div class="iconContainer">
    <app-icon-set iconName="visibility"
                  description="Views"
                  [value]="article.viewCount">
    </app-icon-set>
    <app-icon-set iconName="mode_comment"
                  description="Comments"
                  [value]="article.commentCount">
    </app-icon-set>
    <app-icon-set iconName="favorite"
                  description="Likes"
                  [value]="article.likeCount">
    </app-icon-set>
    <app-icon-set iconName="access_time"
                  description="Post date"
                  [value]="timeService.displayInt(article.postDate)">
    </app-icon-set>
    <app-icon-set iconName="update"
                  description="Last update"
                  [value]="timeService.displayInt(article.updateDate)">
    </app-icon-set>
  </div>
</mat-card>
